<div class="bg-red-50 border border-red-200 rounded p-4">
  <h3 class="text-red-800 font-semibold mb-2">Error</h3>
  <pre class="text-red-700 text-sm whitespace-pre-wrap"><%= error.message %></pre>
</div>